.board {
    display: inline-grid;
    border: 1px solid black;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-square {
    background-color: lightblue;
}

.light-square {
    background-color: white;
}

.dragging {
    opacity: 50%;
    background-color: cadetblue;
}

.piece {
    user-select: none;
    width: 100px;
}

.row {
    display: inline-grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
}

