:root {
    --square-size: 100px;
}

.board {
    display: inline-grid;
    border: 1px solid black;
    grid-template-rows: repeat(8, var(--square-size));
    resize: horizontal;
    overflow: hidden;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-square {
    background-color: lightblue;
}

.light-square {
    background-color: white;
}

.dragging {
    opacity: 50%;
    background-color: cadetblue;
}

.piece {
    user-select: none;
    width: var(--square-size);
}

.row {
    display: inline-grid;
    grid-template-columns: repeat(8, var(--square-size));
}

